<% include partials/header%>
<h1>Log in to explore</h1>

<form action="/login" method="POST">
    <p>username:<input type="text" name="username" placeholder="username"></p>
    <p>password:<input type="password" name="password" placeholder="password"></p>
    <button>Submit</button>
</form>
<% include partials/footer%>